@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;

    /* replace colors from here... */
    --light-mode-background: 0 13 32;
    --light-mode-foreground: 190 159 47;
    --light-mode-foreground-muted: 255 255 255;
    --light-mode-icon-link-background: 0 0 0 0;
    --light-mode-icon-link-background-hover: 240 240 240;
    --light-mode-icon-link-outline: 50 50 50;
    --light-mode-icon-link-outline-hover: 0 0 0;
    --light-mode-icon-link-text: 190 159 47;
    --light-mode-icon-link-text-hover: 0 0 0;
    --light-mode-custom-link-background: 0 0 0 0;
    --light-mode-custom-link-background-hover: 240 240 240;
    --light-mode-custom-link-outline: 50 50 50;
    --light-mode-custom-link-outline-hover: 0 0 0;
    --light-mode-custom-link-text: 190 159 47;
    --light-mode-custom-link-text-hover: 0 0 0;

    --dark-mode-background: 0 13 32;
    --dark-mode-foreground: 190 159 47;
    --dark-mode-foreground-muted: 255 255 255;
    --dark-mode-icon-link-background: 190 159 47;
    --dark-mode-icon-link-background-hover: 240 240 240;
    --dark-mode-icon-link-outline: 50 50 50;
    --dark-mode-icon-link-outline-hover: 0 0 0;
    --dark-mode-icon-link-text: 0 13 32;
    --dark-mode-icon-link-text-hover: 0 0 0;
    --dark-mode-custom-link-background: 255 255 255;
    --dark-mode-custom-link-background-hover: 240 240 240;
    --dark-mode-custom-link-outline: 50 50 50;
    --dark-mode-custom-link-outline-hover: 0 0 0;
    --dark-mode-custom-link-text: 255 255 255;
    --dark-mode-custom-link-text-hover: 255 255 255;
    /* ...to here */
  }

  body {
    background-color: light-dark(
      rgb(var(--light-mode-background)),
      rgb(var(--dark-mode-background))
    );
  }

  .cinzel-text {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}
